*{
    margin: 0;
    padding: 0;
}

.center{
    padding: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

#green-space{
    background-color: #128C7E;
    height: 20vh;
    width: 100%;
}

h1{
    color: white;
}

table{
    border-collapse: collapse;
}

#user-info{
    border-collapse: collapse;
}

table, th, td{
    border: 1px solid black;
}










